<div class="container-fluid mid-section-body">
    {{#if note}}

    <div class="row mb-2">
        <span class="col-md-2"></span>
        <div class="col-md-8 note-head text-center">
            <h3 class="">{{ note.title }}</h3>
        </div>
        <span class="col-md-2"></span>
    </div>

    <div class="row">
        <span class="col-md-2"></span>
        <div class="col-md-8 note-content fs-6">
            <p style="white-space: pre-line;">{{ note.content }}</p>
        </div>
        <span class="col-md-2"></span>
    </div>

    {{/if}}
</div>

<hr/>
