/node_modules/
.DS_Store
.npm
.env
dump.rdb
/log/
/data/
/bin/
/sessions/
.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
test/data/notes-test-sequelize.sqlite3
