body {
    font: 14px "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header {
    background-color: #2E8B57; /* Sea Green */
}

.mid-section {
    padding: 10px;
}

.note-head {
    background-color: #FFF5EE; /* Sea Shell */
    padding: 10px;
}

.note-content {
    padding: 5px;
}
