<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 btn-group-vertical" role="group">
            {{#each notes}}
                <a class="btn btn-lg btn-block btn-outline-dark" href="/notes/view?key={{key}}">{{title}}</a>
            {{/each}}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
