<div class="container-fluid home-bg mid-section-body d-flex flex-column align-items-center justify-content-center">
    {{!-- {{#each notes}}
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <a href="/notes/view?key={{key}}" class="card-link"><h4 class="card-title">{{title}}</h4></a>
                    <p class="card-text text-truncate">{{content}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
    {{/each}} --}}

    <div class="row text-center">
        <div>
            <h1>Your Minimalist Notes App</h1>
            <p class="fs-5 fw-light">Simplistic, no fuss, yet elegant application to store all your personal notes</p>
            <a href="/users/login">
            <button type="button" class="btn btn-primary btn-lg">Login</button>
            </a>
            <button type="button" class="btn btn-secondary btn-lg">Sign Up</button>
        </div>
    </div>
</div>
