<div class="container-fluid home-bg mid-section-body d-flex flex-column align-items-center justify-content-center">
    <div class="row text-center">
        <div>
            <h1>Your Minimalist Notes App</h1>
            <p class="fs-5 fw-light">Simplistic, no fuss, yet elegant application to store all your personal notes</p>
            <a href="/users/login">
            <button type="button" class="btn btn-primary btn-lg">Login</button>
            </a>

            {{#if twitterLogin}}
            <a href="/users/auth/twitter">
            <button type="button" class="btn btn-dark btn-lg">Login with
                <img src="/assets/images/x-logo-white.png" width="20" height="20">
            </button>
            </a>
            {{/if}}

            <button type="button" class="btn btn-secondary btn-lg">Sign Up</button>
        </div>
    </div>
</div>
