<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/vendor/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/assets/stylesheets/style.css' />
  </head>
  <body data-bs-theme="light" class="min-vh-100">
    {{> header }}
    {{> midsection }}
    {{> footer }}
    <!-- scripts -->
    <script src="/assets/vendor/popper/js/popper.min.js"></script>
    <script src='/assets/vendor/bootstrap/js/bootstrap.min.js'></script>
    <script src="/assets/vendor/feather-icons/feather.js"></script>
    <script>feather.replace();</script>
  </body>
</html>
