
<div class="container-fluid mt-2 mid-section-body">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <form method='POST' action='/users/login'>

                <!-- Input Username -->
                <div class="form-group row align-items-center mb-2 ">
                    <label for="username" class="col-form-label" style="padding: 0px;"><h5>User Name:</h5></label>
                    <input type='text' class='form-control' id='username' placeholder='' name='username' value=''/>
                </div>

                <!-- Input password -->
                <div class="form-group row align-items-center mb-2">
                    <label for="password" class="col-form-label" style="padding: 0px;"><h5>Password:</h5></label>
                    <input type='password' class='form-control' id='password' placeholder='' name='password' value=''/>
                </div>

                <!-- Submit btn -->
                <div class="form-group row align-items-center mt-3 mb-2 d-flex justify-content-center">
                    <button type="submit" class="col-auto btn btn-primary" data-bs-theme="dark">Sign In</button>
                </div>

            </form>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
