
{{> note_display }}

{{#if noteKey }}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 d-flex justify-content-center">
            <div class="btn-group">
                <a class="btn btn-outline-dark" href="/notes/destroy?key={{noteKey}}">
                <i data-feather="trash-2" class="d-inline-block align-text-center"></i>
                Delete
                </a>
                <a class="btn btn-outline-dark" href="/notes/edit?key={{noteKey}}">
                <i data-feather="edit" class="d-inline-block align-text-center"></i>
                Edit
                </a>
            </div>
        </div>
    </div>
</div>
{{/if}}
